<head>
    <script type="text/javascript"
            src="http://Odyssey/pub/static/frontend/Odyssey/games/pt_BR/requirejs-config.js"></script>
    <script>
        require([
            'jquery',
            'slick'
        ], function ($) {
            jQuery(document).ready(function () {
                $(".con").slick({
                    dots: true,
                    infinite: true,
                    speed: 300,
                    slidesToShow: 1,
                    adaptiveHeight: true
                });
            });
        });
    </script>
</head>


<header id="carrossel">
    <img class="banner" src='<?php echo $this->getViewFileUrl('Games_Banner/justcause4.jpg'); ?>' alt="error" ">

</header>

<div id="consoles">
    <h1>Consoles</h1>
    <img class="con" src='<?php echo $this->getViewFileUrl('Games_ConsolesImages/image (1).png'); ?>' alt="error" ">
    <img class="con" src='<?php echo $this->getViewFileUrl('Games_ConsolesImages/image (2).png'); ?>' alt="error" ">
    <img class="con" src='<?php echo $this->getViewFileUrl('Games_ConsolesImages/image (3).png'); ?>' alt="error" ">
    <img class="con" src='<?php echo $this->getViewFileUrl('Games_ConsolesImages/image (4).png'); ?>' alt="error" ">

</div>

<div id="perifericos">
    <h1>Periféricos</h1>

    <a href="http://odyssey.develop/catalog/category/view/s/controles/id/17/">
        <img class="per" src='<?php echo $this->getViewFileUrl('Games_CostumerHome/controle.jpg'); ?>' alt="error" ">
    </a>
    <a href="http://odyssey.develop/catalog/category/view/s/fones/id/14/">
        <img class="per" src='<?php echo $this->getViewFileUrl('Games_CostumerHome/fone.jpg'); ?>' alt="error" ">
    </a>
    <a href="http://odyssey.develop/catalog/category/view/s/mouses/id/16/">
        <img class="per" src='<?php echo $this->getViewFileUrl('Games_CostumerHome/mouse.jpg'); ?>' alt="error" ">
    </a>
    <a href="http://odyssey.develop/catalog/category/view/s/teclados/id/15/">
        <img class="per" src='<?php echo $this->getViewFileUrl('Games_CostumerHome/teclado.jpg'); ?>' alt="error" ">
    </a>
</div>

<br/>

<div id="products">
    <h1>Jogos em destaque</h1>

    <img src='<?php echo $this->getViewFileUrl('Games_ProductHome/cover_1-250x350.jpg'); ?>' alt="error" ">
    <img src='<?php echo $this->getViewFileUrl('Games_ProductHome/cover_2-250x350.jpg'); ?>' alt="error" ">
    <img src='<?php echo $this->getViewFileUrl('Games_ProductHome/cover_3-250x350.jpg'); ?>' alt="error" ">
    <img src='<?php echo $this->getViewFileUrl('Games_ProductHome/cover_4-250x350.png'); ?>' alt="error" ">
    <img src='<?php echo $this->getViewFileUrl('Games_ProductHome/cover_5-250x350.jpg'); ?>' alt="error" ">
    <img src='<?php echo $this->getViewFileUrl('Games_ProductHome/cover_6-250x350.jpg'); ?>' alt="error" ">

</div>
