<footer class="page-footer"><div class="footer content"><div class="block newsletter">
            <div class="title"><strong>Newsletter</strong></div>
            <div class="content">
                <form class="form subscribe" novalidate="novalidate" action="http://odyssey.develop/newsletter/subscriber/new/" method="post" id="newsletter-validate-detail">
                    <div class="field newsletter">
                        <div class="control">
                            <label for="newsletter">
                        <span class="label">
                            Sign Up for Our Newsletter:                        </span>
                                <input name="email" type="email" id="newsletter" placeholder="Enter your email address" data-validate="{required:true, 'validate-email':true}">
                            </label>
                        </div>
                        <div class="actions dropdown options switcher-options">

                            <button href="#" data-post="{&quot;action&quot;:&quot;http:\/\/odyssey.develop\/stores\/store\/redirect\/&quot;,&quot;data&quot;:{&quot;___store&quot;:&quot;odyssey_games&quot;,&quot;___from_store&quot;:&quot;odyssey_geek&quot;,&quot;uenc&quot;:&quot;aHR0cDovL29keXNzZXkuZGV2ZWxvcC8_X19fc3RvcmU9b2R5c3NleV9nYW1lcw,,&quot;}}">
                                Games Store</button>

                        </div>
                    </div>
                    <div class="actions">
                        <button class="action subscribe primary sr-only" title="Subscribe" type="submit" aria-label="Subscribe">
                            <span>Subscribe</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <ul class="footer links"><li class="nav item"><a href="http://odyssey.develop/search/term/popular/">Search Terms</a></li><li class="nav item"><a href="http://odyssey.develop/privacy-policy-cookie-restriction-mode/">Privacy and Cookie Policy</a></li><li class="nav item"><a href="http://odyssey.develop/catalogsearch/advanced/" data-action="advanced-search">Advanced Search</a></li><li class="nav item"><a href="http://odyssey.develop/sales/guest/form/">Orders and Returns</a></li><li class="nav item"><a href="http://odyssey.develop/contact/">Contact Us</a></li></ul><div class="switcher store switcher-store" id="switcher-store">

        </div>
    </div></footer>