.media-width(@extremum, @break) when (@break = @screen__m) {
  .page-wrapper .page-header .panel.wrapper {
    border-bottom: 1px solid #f5f5ff;
    background-color: #f5f5ff;
    color: #330707;
  }
  .copyright {
    background-color: #330707;
    color: #f5f5ff;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    text-align: center;
  }
  .page-header .switcher strong, .page-footer .switcher strong {
    font-weight: 400;
    float: left;

  }
  .navigation {
    background: #330707;
    font-weight: 700;
    height: inherit;
    left: auto;
    overflow: inherit;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 3;
    border-top: solid black 1px;
    border-bottom: solid black 1px;

  }
  .header.panel>.header.links>li>a {
    color: #000;
    text-decoration: none;
  }

  .nav-sections-item-content {
    display: block !important;
    background-color: #330707;
    color: white;



  }
  .navigation .level0 > .level-top {
    color: #f5f5ff;
    line-height: 47px;
    padding: 0 12px;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
  }
  .banner > img {
    height: 100%;
    width: 100%;
  }
  .banner {
    height: 100%;
    width: 100%;
  }
  #products > img{
    height: 15%;
    width: 15%;
    margin: 0.68%;
  }
  .per {
    height: 25%;
    width: 23.7%;
    margin: 0.5%;
  }
  #banner {
    height: 200px;
    width: 20%;
  }
  #perifericos {
    margin: 5% 5%;
  }
  #products {
    margin: 5% 5%;
  }
  .con {
    height: auto;
    width: auto;
    margin: 1.5%;
  }
  #consoles {
    margin: 0% 5%;
  }
  #carrossel {
    height: 300px;
    width: 100%;
  }

}

