.media-width(@extremum, @break) when (@break = @screen__m) {
  body {
    background-color: #f5f5ff;
  }
  .header.panel > .header.links > li > a:visited {
    color: black;
    text-decoration: none;
  }
}